@import "../variables/variables";

.contact__viewport {
  background-image: url(../../img/contact-bg.jpg);
  background-color: #222;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contact {
  margin-bottom: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

/* === FORM STYLE === */
.fieldset {
  border: transparent;

  & > legend {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: $color-light-gold;
    margin-bottom: 0rem;
    padding-left: .25rem;
    letter-spacing: 2px;
  }

  &.input-message > legend {
    margin-bottom: 1rem;
  }

  & > input,
  & > textarea {
    font-family: "Nunito", sans-serif;
    background-color: transparent;
    caret-color: $color-light-gold;
    color: #EEE;
    transition: border .25s;
  }
  
  & > input {
    font-size: 1.75rem;
    border-top: none;
    border-inline: none;
    border-bottom: 2px solid #EEE;
    border-radius: 0;
    letter-spacing: 2px;
    padding: .75rem .25rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  & > input:-webkit-autofill {
    -webkit-text-fill-color: #EEE;
    -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  }

  & > textarea {
    border: 2px solid #EEE;
    border-radius: 5px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    padding: .5rem 1rem;
    height: 125px;
    width: 450px;
    resize: none;
    transition: background .15s;
  }


  & > input::placeholder,
  & > textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  & > input:hover::placeholder,
  & > textarea:hover::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  & > input:hover {
    border-bottom-color: #ffeaad;
  }

  & > input:focus {
    border-bottom-color: $color-light-gold;
    outline: transparent;
  }

  & > textarea:hover {
    border-color: #ffeaad;
    background-color: rgba(214, 179, 75, 0.055);
  }

  & > textarea:focus {
    border-color: $color-light-gold;
    background-color: rgba(214, 179, 75, 0.103);
    outline: transparent;
  }
}

.form__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.25px;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: $color-light-gold;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem 5rem;
  width: 100%;
  transition: 
    transform .15s,
    background .15s,
    letter-spacing .15s,
    font .15s;

  &:hover,
  &:focus {
    background-color: $color-accent-gold;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    box-shadow: 0 0 5px #D6B34B;
    transform: scale(1.01);
  }

  &:active {
    background-color: #D6B34B;
    transform: scale(.999);
  }
}

@media (max-width: 55em) {
  .contact__viewport {
    padding-top: 10rem;
    height: 100svh;
  }
  
  .contact {
    margin-bottom: 1rem;
  }

  .fieldset {
    & > legend {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    & > input {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    & > textarea {
      border-radius: 2.5px;
      font-size: 1.25rem;
      letter-spacing: .5px;
      max-height: 150px;
      max-width: 300px;
      resize: none;
    }

  }
  .form__btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1.25px;
    cursor: pointer;
    font-size: 1rem;
    background-color: $color-light-gold;
    border: none;
    border-radius: 2.5px;
    margin-top: 2rem;
    padding-block: .75rem;
    width: 100%;
  
    &:hover,
    &:focus {
      background-color: $color-accent-gold;
      font-weight: 700;
      font-size: 1.1rem;
      letter-spacing: 1.2px;
      box-shadow: 0 0 5px #D6B34B;
      transform: scale(1.01);
    }
  
    &:active {
      background-color: #D6B34B;
      transform: scale(.999);
    }
  }
}
