@import "../variables/variables";

.contact__viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contact {
  font-size: 2rem;
  display: flex;
  justify-content: center;

  &__form__container {

    & * {
      // outline: 1px solid red;
    }
  }
}

/* === FORM STYLE === */
.fieldset {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding-top: 0;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  transition: border .25s;
  margin-bottom: 2.5rem;
  position: relative;

  &:active,
  &:hover,
  &:focus,
  &:focus-within,
  &:active > legend,
  &:hover > legend,
  &:focus > legend,
  &:focus-within > legend {
    border-color: $color-accent-gold;
    color: $color-accent-gold;
  }

  & > legend {
    color: #FFF;
    font-size: 2rem;
    margin-bottom: .25rem;
    padding-inline: 6px;
    letter-spacing: 1px;
    transition: color .25s;
  }

  & > input,
  & > textarea {
    background-color: #CCC;
    color: #000;
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: .5rem 1rem;
    width: 100%;
  }

  & > input::placeholder,
  & > textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  & > input:focus,
  & > textarea:focus {
    outline: transparent;
  }

  & > textarea {
    font-size: 2.5rem;
    letter-spacing: 1px;
    height: 300px;
    width: 500px;
    resize: none;
  }

  & > input,
  & > textarea {
    border-radius: 5px;
  }
}

.input-name {


  & > legend {
  }

  & > input {
  }

  .input-email {

  }

}
.input-message {
  
  & > textarea {
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: .5rem 1rem;
    height: 300px;
    width: 500px;
    resize: none;
  }
}

@media (max-width: 55em) {
  .contact__viewport {
    padding-top: 50%;
    height: 100svh;
  }

  .contact {
  }

  .fieldset {
    & > legend {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    & > input {
      font-size: 1.75rem;
      letter-spacing: 1px;
    }

    & > textarea {
      font-size: 1.75rem;
      letter-spacing: .5px;
      height: 200px;
      max-width: 350px;
      resize: none;
    }
  }
}