.contact__viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contact {
  font-size: 2rem;
  display: flex;
  justify-content: center;

  &__form__container {

    & * {
      // outline: 1px solid red;
    }
  }
}

/* === FORM STYLE === */
.fieldset {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 0 1rem 1.5rem;
  transition: border .25s;

  &:hover,
  &:focus,
  &:hover > legend,
  &:focus > legend
   {
    border-color: $color-accent-gold;
    color: $color-accent-gold;
  }

  & > legend {
    color: #FFF;
    font-size: 2rem;
    margin-bottom: .25rem;
    padding-inline: 2px;
    letter-spacing: 1px;
    transition: color .25s;
  }

  & > input {
    background-color: #CCC;
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: .5rem 1rem;
    width: 100%;
  }
}

.input-name {
  padding: 0 1rem 1.5rem;
  margin-bottom: 2rem;

  & > legend {
  }

  & > input {
  }

  .input-email {

  }

}
.input-message {
  
  & > textarea {
    background-color: #CCC;
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: .5rem 1rem;
    height: 300px;
    width: 500px;
    resize: none;
  }
}

@media (max-width: 55em) {
  .contact__viewport {
    height: 100svh;
  }
}