@import "../variables/variables";

.footer__container {
  background-color: #111;
  min-width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 1.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1rem;
  }
  
  &__contact,
  &__social-media {
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 1rem;
  }
  
  &__contact {
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  
  
  &__social-media {
    font-size: 2.5rem;
  }
  
  &__contact li,
  &__social-media li {
    list-style: none;
    margin-bottom: .75rem;
  }
  
  &__contact li {
    letter-spacing: 1px;
  }
  
  &__contact li:first-child {
    margin-top: 2rem;
  }
  
  &__contact li i {
    color: $color-light-gold;
  }
  
  &__social-media a {
    text-decoration: none;
    color: $color-light-gold;
    margin-right: 1.5rem;
    transition: color .2s;
  }
  
  &__social-media a:hover {
    color: $color-white;
  }
  
  &__social-media li:hover {
    color: $color-white;
  }
  
  &__copyright {
    min-width: 100%;
  }
  
  &__copyright p {
    background-color: $color-light-gold;
    color: $color-black;
    text-align: center;
  }
}