@import "../variables/colors";
@import "../variables/fonts";

.hero {
  &__bg {
    background-color: #AAA;
    background-image: url(../../img/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 100vh;
    position: relative;
    box-shadow: 0px 3px 15px #111;
    border: 1px solid rosybrown;
  }

  &__main {
    border: 1px solid powderblue;
    display: flex;
  }
  
  &__content {
    color: #EEE;
    display: flex;
    border: 1px solid green;
  }
  
  &__title {
    /* color: #D6B34B; */
    background: -webkit-linear-gradient(#F4DE86, #776431);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: .25rem;
  }
  
  &__description {
    font-size: 3rem;
    letter-spacing: .45rem;
    line-height: 1.5;
    font-weight: 300;
  }

  &__question__container {
    display: flex;
    align-self: center;
    color: #FFF;
    margin-top: 20rem;
    width: 40rem;
    height: 10rem;
  }
  
  &__question {
    border: 1px solid yellowgreen;
    text-align: center;
    font-size: 2.75rem;
    letter-spacing: .35rem;
    line-height: 1.3;
    font-weight: 300;
    animation-name: changing-text;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    transition: opacity 2s ease-in;
  }

  @keyframes changing-text {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  &__contact__container {
    border: 1px solid red;
    /* display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 6em; */
    position: fixed;
    text-align: end;
    right: 0;
    bottom: 20px;
    z-index: 1;
  }
  
  &__contact__container img {
    border: 1px solid red;
    background-color: #000;
    border-radius: 10px 0 0 10px;
    padding: .5em;
    height: 50px;
    margin-bottom: .75em;
  }
  
  &__contact__container p {
    border: 1px solid red;
    color: #FFF;
    background-color: #000;
    border-radius: 10px 0 0 10px;
    font-size: 2rem;
    padding-right: .5em;
    padding-left: .25em;
    padding-top: .15em;
    padding-bottom: .15em;
  }
  
  &__cta {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    background-color: $color-light;
    border: none;
    border-radius: 1em;
    font-size: 2.5rem;
    letter-spacing: .15rem;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: .2s;

    &:hover {
      background-color: $color-accent;
      box-shadow: 0 0 10px #D6B34B;
    }

    &:active {
      background-color: #D6B34B;
    }

    &__wrapper {
      border: 1px solid yellowgreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 12.5em;
      margin-bottom: 1em;
      max-width: fit-content;
    }
    
    &__container {
      border: 1px solid yellowgreen;
      text-align: center;
      align-self: center;
      margin-bottom: 3em;
    }

    &__title {
      border: 1px solid yellowgreen;
      color: #EEE;
      margin-bottom: .75em;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: .35rem;
    }

    &__text {
      border: 1px solid yellowgreen;
      color: #EEE;
      margin-bottom: .75em;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .35rem;
    }
  }
}

/* .hero__bg::after {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
} */

/* DESKTOP */
@media (min-width: 55em) {
  .hero {
    max-width: 1800px;
    margin: 0 auto;
    &__main {
      border: 1px solid goldenrod;
      justify-content: space-between;
      margin-top: 10em;
      min-height: 60vh;
      max-width: 1300px;
      // padding-left: 50px;
      // padding-right: 50px;
      margin-right: auto;
      margin-left: auto;
    }
    
    &__content {
      margin-left: 4rem;
      flex-direction: column;
      align-self: flex-start;
    }
  }

}


/* MOBILE */
@media (max-width: 55em) {
  .hero {
    /* border: 1px solid red; */
    &__bg {
      /* border: 1px solid red; */
      background-position: 80%;
      max-height: 100vh;
    }
  
  
    &__main {
      border: 1px solid red;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &__content {
      /* border: 1px solid red; */
      flex-direction: column;
      /* margin: 0 auto; */
      padding: 5em 3em 5em;
    }
  
    &__title {
      /* border: 1px solid red; */
      font-size: 5rem;
      letter-spacing: 0rem;
      line-height: 1;
    }
  
    &__description {
      /* border: 1px solid red; */
      margin-top: .5em;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .2rem;
    }

    &__cta {
      /* border: 1px solid red; */
      font-size: 2.25rem;

      &__cta__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5em 3em 0em;
        margin-bottom: 0em;
        max-width: fit-content;
      }
      &__cta__container {
        /* border: 1px solid red; */
        margin-right: auto;
        margin-left: auto;
      }
    
      &__cta__text {
        /* border: 1px solid red; */
        font-size: 1.8rem;
        letter-spacing: .2rem;
        max-width: fit-content;
        margin-inline: auto;
      }
    }
  
    &__question__container {
      padding-inline: 3em;
    }
  
    &__contact__container img {
      padding: .5em;
      height: 30px;
      margin-bottom: .25em;
    }
    
    &__contact__container p {
      font-size: 1.25rem;
      padding-right: .5em;
      padding-left: .25em;
      padding-top: .15em;
      padding-bottom: .15em;
    }
  }
}

.flex-row {
  display: flex;
  justify-content: center;
}
