/* === HERO === */

.hero__bg {
  background-color: #AAA;
  background-image: url(../../img/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  min-height: 100vh;
  position: relative;
  box-shadow: 0px 3px 15px #111;
  /* border: 1px solid red; */
}

/* .hero__bg::after {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
} */

.hero__main {
  /* border: 1px solid red; */
  display: flex;
}

.hero__content {
  color: #EEE;
  display: flex;
  /* border: 1px solid red; */
}

.hero__title {
  /* color: #D6B34B; */
  background: -webkit-linear-gradient(#F4DE86, #776431);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: .25rem;
}

.hero__description {
  font-size: 2.75rem;
  letter-spacing: .35rem;
  line-height: 1.3;
  font-weight: 300;
}

.hero-cta__container {
  margin-bottom: 10em;
  text-align: center;
  align-self: flex-end;
  margin-right: 50px;
}

.hero-cta__text {
  color: #EEE;
  margin-bottom: .75em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .35rem;
}

.hero-cta {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  background-color: #FFD36D;
  border: none;
  border-radius: 1em;
  font-size: 2.5rem;
  letter-spacing: .15rem;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: .1s;
}

.hero-cta:hover {
  background-color: #F4DE86;
  box-shadow: 0 0 10px #D6B34B;
}

.hero-cta:active {
  background-color: #D6B34B;
}

.hero-contact__container {
  /* border: 1px solid red; */
  /* display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 6em; */
  position: fixed;
  text-align: end;
  right: 0;
  bottom: 10px;
  z-index: 1;
}

.hero-contact__container img {
  /* border: 1px solid red; */
  background-color: #000;
  border-radius: 10px 0 0 10px;
  padding: .5em;
  height: 50px;
  margin-bottom: .75em;
}

.hero-contact__container p {
  /* border: 1px solid red; */
  color: #FFF;
  background-color: #000;
  border-radius: 10px 0 0 10px;
  font-size: 2rem;
  padding-right: .5em;
  padding-left: .25em;
  padding-top: .15em;
  padding-bottom: .15em;
}

@media (min-width: 55em) {
  .hero {
    max-width: 1800px;
    margin: 0 auto;
  }

  .hero__main {
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 20em;
    min-height: 50vh;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .hero__content {
    flex-direction: column;
    align-self: flex-start;
  }
}

@media (max-width: 55em) {
  .hero__bg {
    /* border: 1px solid red; */
    background-position: 80%;
    max-height: 100vh;
  }

  .hero {
    /* border: 1px solid red; */
  }

  .hero__main {
    /* border: 1px solid red; */
    flex-direction: column;
  }

  .hero__content {
    /* border: 1px solid red; */
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 8em 3em 10em;
  }

  .hero__title {
    /* border: 1px solid red; */
    font-size: 5rem;
    letter-spacing: 0rem;
    line-height: 1;
  }

  .hero__description {
    /* border: 1px solid red; */
    margin-top: .5em;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
  }

  .hero-cta__container {
    /* border: 1px solid red; */
    margin-right: auto;
    margin-left: auto;
  }

  .hero-cta__text {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    letter-spacing: .2rem;
    max-width: fit-content;
    margin-inline: auto;
  }

  .hero-cta {
    /* border: 1px solid red; */
    font-size: 2.25rem;
  }

  .hero-contact__container img {
    padding: .5em;
    height: 30px;
    margin-bottom: .25em;
  }
  
  .hero-contact__container p {
    font-size: 1.25rem;
    padding-right: .5em;
    padding-left: .25em;
    padding-top: .15em;
    padding-bottom: .15em;
  }
}
