.main__container {
  background-color: #000;
  max-width: 2100px;
  margin: 0 auto;
}

.main__section {
  background-color: #000;
  display: flex;
}

.main {
  display: flex;
  background-color: #DDD;
  text-align: left;
}

.main-info__container {
  display: flex;
  background-color: #222;/*  NIGHT MODE */
  /* background-color: #CCC; */
  color: #CCC; /* NIGHT MODE */
  /* color: #000; */
}

.main__img__container {
  background-color: #222;
  /* border: 50px solid #222; */
}

.main__img {
  object-fit: contain;
}

.main__title {
  /* border: 1px solid red; */
  max-width: fit-content;
  color: #FFD36D; /* NIGHT MODE */
  /* text-shadow: 0 0 2px #222; */
  /* text-shadow: 0 0 2px #FFD36D; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.main__text {
  /* border: 1px solid red; */
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.main__btn {
  align-self: end;
  border-radius: 3px;
  text-decoration: none;
  background-color: #F4DE86; /* NIGHT MODE */
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  padding: .5em .75em;
  transition: background .2s, transform .1s;
}

.main__btn:hover,
.main__btn:focus {
  background-color: #FFF; /* NIGHT MODE */
  color: #000;
  transform: scale(1.01);
}

.main__btn:active {
  background-color: #BBB; /* NIGHT MODE */
  transform: scale(1);
}

@media (min-width: 55em) {
  .main__container {
  }

  .main__section {
    flex-direction: column;
  }

  .main {
    flex-direction: row;
    
  }

  .service-2 > .main__img__container {
    order: 2;
  }

  .service-2 > .main-info__container {
    order: 1;
  }

  .main-info__container {
    /* border: 1px solid deeppink; */
    flex-direction: column;
    min-width: 50%;
    padding: 5.5em;
  }

  .main__img__container {
    display: flex;
    min-width: 50%;
  }

  .main__img {
    border: 40px solid #222;
    border-radius: 45px;
    background-size: cover;
    object-fit: cover;
    min-width: 100%;
  }

  .main__title {
    font-size: 4.25rem;
    margin-bottom: 1em;
  }

  .main__text {
    font-size: 2.5rem;
    margin-bottom: 2.75em;
  }

  .main__btn {
    font-size: 2.5rem;
    margin-right: 2.5em;
  }
}

@media (max-width: 55em) {
  .main__container {
    background: linear-gradient(#000, #222)
  }

  .main__section {
    flex-direction: column;
    align-items: space-between;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .main {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .service-2 > .main__img__container {
    order: 1;
  }

  .service-2 > .main-info__container {
    order: 2;
  }

  .main-info__container {
    /* border: 1px solid red; */
    flex-direction: column;
    margin: 0;
    padding: 1.25em;
  }

  .main__img__container {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    min-width: 100%;
  }

  .main__img {
    border: 10px solid #222;
    border-radius: 15px;
    height: 100%;
    width: 100%;
  }

  .main__title {
    align-self: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-block: .5em;
  }

  .main__text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 1.25em;
  }

  .main__btn {
    align-self: end;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
  }
}

@media (max-width: 1450px) {
  .main__img {

  }
}