@import "../variables/variables";

:root {
  --anim-hover-out: hover-out-fake;
}

.main {
  display: flex;
  text-align: left;

  &__container {
    max-width: 2100px;
    margin: 0 auto;
  }
  
  &__section {
    display: flex;
  }

  &__article {
    display: flex;
    position: relative;
  
    &::after {
      content: "";
      background: linear-gradient(to right, transparent, $color-light-gold, transparent);
      height: 1px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    & .main__title {
      align-self: center;
    }
  }

  &__info__container {
    display: flex;
    background-color: $color-grey;
    color: #CCC;
  }
  
  &__info__container.dark-bg {
    background-color: #111;
  }

  &__img {
    box-shadow: 0px 0px 10px $color-dark-grey;
    object-fit: contain;
    object-position: center;
  }
  
  &__title {
    max-width: fit-content;
    color: $color-light-gold;
    text-shadow: 2px 2px 5px $color-dark-grey;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 1.8px;
  }
  
  &__text {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
  
  &__article__btn,
  &__btn {
    align-self: end;
    text-decoration: none;
    color: $color-black;
    font-family: "Josefin Sans", sans-serif;
  }
  
  &__article__btn {
    border-radius: 3px;
    background-color: $color-light-gold;
    padding: .5em .75em;
    transition: background .2s, transform .1s;
  }

  &__btn {
    padding-inline: 1px;
    padding-block: 6px;
    position: relative;
    color: $color-white;
    letter-spacing: 1.6px;
    font-weight: 500;
    z-index: 100;
    transition: color .25s;
  }

  &__btn::after {
    content: "";
    position: absolute;
    background-color: $color-light-gold;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: -1;
    animation-name: button-hover-out;
    animation-duration: .25s;
    transition: background .25s;
  }
  
  &__article__btn:hover,
  &__article__btn:focus {
    background-color: $color-white;
    color: $color-black;
  }

  &__btn:hover::after {
    background-color: $color-light-gold;
    animation-name: button-hover;
    animation-duration: .25s;
    animation-fill-mode: both;
  }
  &__btn:hover,
  &__btn:focus {
    color: $color-black;
  }

  @keyframes button-hover {
    from {
      height: 2px;
    }

    to {
      height: 100%;
      --anim-hover-out: hover-out;
    }
  }

  @keyframes button-hover-out {
    from {
      height: 100%;
    }

    to {
      height: 2px;
    }
  }
  
  &__article__btn:active {
    background-color: #BBB;
    transform: scale(.99);
  }

  &__btn:active {
    background-color: #BBB;
    transform: scale(.99);
  }
}

/* === DESKTOP === */
@media (min-width: 55em) {
  .main {
    flex-direction: row;

    // &__container {
    // }
  
    &__section {
      flex-direction: column;
    }

    &.service-2 > .main__img__container {
      order: 2;
    }
  
    &.service-2 > .main__info__container {
      order: 1;
    }

    &__info__container {
      flex-direction: column;
      min-width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 5.5em;
    }

    &__article.dark-grey {
      background-color: #111;
      margin-left: auto;
      margin-right: auto;
    }

    &__img__container {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    
    &__services__img__container {
      min-width: 650px;
      max-width: 900px;
    }
    
    &__topics__img__container {
      min-width: 50%;
      padding: 35px;
    }
    
    &__img {
      border-radius: 10px;
      object-fit: cover;
      height: auto;
      min-width: 100%;
    }
    
    &__services__img {
      max-width: 1000px;
    }

    &__topics__img {

    }
    
    &__article {
      margin-left: auto;
      margin-right: auto;
    }
  
    &.main__article {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
    }
    
    &.main__article .main__img__container {
      max-width: 50cqb;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  
    &__article__btn,
    &__btn {
      font-size: 2.5rem;
    }

    &__article__btn {
      align-self: center;
    }

    &__btn {
      align-self: flex-end;
    }
    
    &__title {
      font-size: 4.25rem;
      margin-bottom: 1em;
    }
  
    &__text {
      font-size: 2.5rem;
      font-family: "Nunito";
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 2.5px;
      margin-bottom: 2.75em;
    }
  }

  /* BACKGROUND BLEED OUT OF SECTION */
  .full-bleed {
    box-shadow: 0 10px 0 100vmax #111;
    clip-path: inset(0 -100vmax);
  }
}

/* === MOBILE === */
@media (max-width: 55em) {
  .main {
    flex-direction: column;
    margin: 0;
    padding: 0;

    &__container {
      background: linear-gradient($color-black, $color-grey);
    }
  
    &__section {
      flex-direction: column;
      align-items: space-between;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    &__service {
      
    }

    &.service-2 > .main__img__container {
      order: 1;
    }

    &.service-2 > .main__info__container {
      order: 2;
    }

    &__info__container {
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 1.25em;
    }
  
    &__img__container {
      background-color: $color-grey;
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 0;
      padding-inline: 2rem;
      min-width: 100%;
    }
    
    &__services__img__container {

    }

    &__topics__img__container {
      
    }
  
    
    &__img {
      border-radius: 15px;
      height: auto;
      width: 100%;
    }

    &__services__img {

    }

    &__topics__img {

    }

    &__info__container.dark-bg .main__img__container {
      background-color: $color-dark-grey;
    }
  
    &__title {
      align-self: center;
      font-size: 2rem;
      letter-spacing: 2px;
      line-height: 1.4;
      margin-top: .5rem;
      margin-bottom: 0rem;
    }
  
    &__text {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.4;
      text-align: left;
      margin-inline: 2rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25em;
    }
  
    &__article__btn,
    &__btn {
      font-size: 1.5rem;
      margin-bottom: 1.5em;
    }
    
    &__article__btn {
      align-self: center;
    }
    
    &__btn {
      align-self: end;
      margin-right: 1.5em;
    }
  }

}

