@import "../variables/variables";

.services__container * {
  // outline: 1px solid red;
}

.services {
  &__bg {
    background: linear-gradient(0deg,#111 30%, #252525, #111 );
  }

  // border: 1px solid yellowgreen;
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    // border: 1px solid red;
    color: $color-white;
  }

  &__title,
  &__text {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 2rem;
  }

  &__title {
    filter: drop-shadow(2px 2px 5px #000);
    color: $color-light-gold;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4.25rem;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-block: 1.5rem;
  }
  
  &__text {
    font-family: "Nunito", sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 1.3px;
  }

  &__card {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1.75rem;
      margin-block: 5rem;
      margin-inline: 2rem;
      gap: 5rem;
    }

    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    background-color: $color-light-gold;
    color: $color-black;
    padding: 2em;
    max-width: 15em;
    margin-block: 2rem;

    & > img {
      width: 11em;
      height: 100px;
      // height: auto;
    }
  }
}

.service {
  position: relative;
  margin-bottom: 5rem;

  &-1::after,
  &-2::after {
    content: "";
    background: linear-gradient(to right, transparent, $color-light-gold, transparent);
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__img__container {
    height: auto;
    max-width: 650px;
    padding: 1.5rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  &__img {
    border-radius: 1px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 10px #000;
  }
}

@media (min-width: 55em) {
  .service {
    &__img {
      outline: 1px solid $color-accent-gold;
    }
  }
}

@media (max-width: 55em) {
  .service {
  }
}