*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* === HERO === */

.hero__bg {
  background-color: #AAA;
  background-image: url(../img/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  min-height: 100vh;
  /* border: 1px solid red; */
}

.hero__main {
  /* border: 1px solid red; */
  display: flex;
}

.hero__content {
  color: #EEE;
  display: flex;
  /* border: 1px solid red; */
}

.hero__title {
  /* color: #D6B34B; */
  background: -webkit-linear-gradient(#F4DE86, #776431);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: .25rem;
}

.hero__description {
  font-size: 2.75rem;
  letter-spacing: .35rem;
  line-height: 1.3;
  font-weight: 300;
}

.hero-cta__container {
  /* border: 1px solid red; */
  text-align: center;
  align-self: flex-end;
  margin-right: 50px;
}

.hero-cta__text {
  color: #EEE;
  margin-bottom: .75em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .35rem;
}

.hero-cta {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  background-color: #FFD36D;
  border: none;
  border-radius: 1em;
  font-size: 2.5rem;
  letter-spacing: .15rem;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: .1s;
}

.hero-cta:hover {
  background-color: #F4DE86;
  box-shadow: 0 0 10px #D6B34B;
}

.hero-cta:active {
  background-color: #D6B34B;
}

/* === NAV === */

.nav {
  display: flex;
  /* border: 1px solid red; */
}

.nav__list {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
}

.nav__list li {
  margin-inline: .4em;
}

.nav__link {
  /* border: 1px solid red; */
  text-decoration: none;
  color: #FFF;
}

@media (min-width: 55em) {
  .hero {
    max-width: 1400px;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1em;
  }
  
  .nav__list {
    align-items: center;
    margin-right: 3em;
    /* border: 1px solid red; */
  }
  
  .nav__link {
    position: relative;
    margin: 0 1em 0;
    padding-bottom: 1em;
    letter-spacing: .1em;
  }
  
  .nav__link:last-child {
    margin-right: 0;
  }
  
  .nav__link:hover::after,
  .nav__link:focus::after {
    animation-name: underline;
    animation-duration: .3s;
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    display: inline;
    height: 3px;
    width: 100%;
    background-color: #D6B34B;
    border-radius: 50px;
    transition: .1s;
  }
  
  @keyframes underline {
    from {width: 0%}
    to {width: 100%}
  }
  
  .active {
    /* border: 1px solid red; */
    position: relative;
    transition: .3s;
  }
  
  .active::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    display: inline;
    height: 3px;
    width: 100%;
    background-color: #D6B34B;
    border-radius: 50px;
    transition: .1s;
  }
  
  .active:hover::after,
  .nav__link:focus::after {
    animation: none;
    box-shadow: 0 0 10px #ffd36d;
  }
  
  nav img {
    max-width: 100px;
    margin-left: 3em;
  }
  
  .hero__main {
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 20em;
    min-height: 50vh;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .hero__content {
    flex-direction: column;
    align-self: flex-start;
  }

  .menu-hamburger-btn {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 55em) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border: 1px solid red; */
  }

  .nav > div {
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* margin: 1.5em; */
  }
  
  .nav img {
    /* border: 1px solid red; */
    max-width: 80px;
    z-index: 2;
  }

  /* .menu-hamburger,
  .menu-hamburger input {
    border: 1px solid red;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
  } */

  .nav__wrapper {
    /* border: 1px solid red; */
    border-radius: 100%;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    transform: scale(0);
    transition: all .4s;
  }

  .nav__wrapper--isDisplayed {
    background-color: #222;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transform: scale(1);
    transition: transform .2s;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    min-width: max-content;
    margin: 0 auto;
  }

  .nav__link {
    /* border: 1px solid red; */
    display: block;
    margin-block: .25em;
    padding: 1.25em;
    transition: color .2s;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #FFD36D;
  }

  .menu-hamburger-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
  }
  
  .menu-hamburger-btn button {
    cursor: pointer;
    padding: 1em;
  }

  .hero__bg {
    /* border: 1px solid red; */
    background-position: 80%;
  }

  .hero {
    /* border: 1px solid red; */
  }

  .hero__main {
    /* border: 1px solid red; */
    flex-direction: column;
  }

  .hero__content {
    /* border: 1px solid red; */
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 12em 3em 16em; 
  }

  .hero__title {
    /* border: 1px solid red; */
    font-size: 5rem;
    letter-spacing: 0rem;
  }

  .hero__description {
    /* border: 1px solid red; */
    margin-top: .5em;
    font-size: 2.3rem;
    letter-spacing: .2rem;
  }

  .hero-cta__container {
    /* border: 1px solid red; */
    margin: 0 auto;
  }

  .hero-cta__text {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    letter-spacing: .2rem;
    max-width: fit-content;
    margin-inline: auto;
  }

  .hero-cta {
    /* border: 1px solid red; */
    font-size: 2.25rem;
  }
}
