/* === NAV === */

.nav {
  display: flex;
  /* border: 1px solid red; */
}

.nav__list {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
}

.nav__list li {
  margin-inline: .4em;
}

.nav__link {
  /* border: 1px solid red; */
  text-decoration: none;
  color: #FFF;
}

@media (min-width: 55em) {
  .hidden {
    display: none;
  }

  .nav {
    justify-content: space-between;
    align-items: start;
    padding: 0em 0 1em;
  }
  
  .nav__list {
    align-items: center;
    margin-top: 2.25em;
    margin-right: 3em;
    /* border: 1px solid red; */
  }
  
  .nav__link {
    position: relative;
    margin: 0 1em 0;
    padding-bottom: 1em;
    letter-spacing: .1em;
  }
  
  .nav__link:last-child {
    margin-right: 0;
  }
  
  .nav__link:hover::after,
  .nav__link:focus::after {
    animation-name: underline;
    animation-duration: .3s;
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    display: inline;
    height: 3px;
    width: 100%;
    background-color: #D6B34B;
    border-radius: 50px;
    transition: .1s;
  }
  
  @keyframes underline {
    from {width: 0%}
    to {width: 100%}
  }
  
  .active {
    /* border: 1px solid red; */
    position: relative;
    transition: .3s;
  }
  
  .active::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    display: inline;
    height: 3px;
    width: 100%;
    background-color: #D6B34B;
    border-radius: 50px;
    transition: .1s;
  }
  
  .active:hover::after,
  .nav__link:focus::after {
    animation: none;
    box-shadow: 0 0 10px #ffd36d;
  }
  
  nav img {
    height: 150px;
    margin-left: 3em;
  }
}

@media (max-width: 55em) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
    /* border: 1px solid red; */
  }

  .nav > div {
    /* border: 1px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* margin: 1.5em; */
  }
  
  .nav img {
    /* border: 1px solid red; */
    max-width: 90px;
    z-index: 2;
  }

  /* .menu-hamburger,
  .menu-hamburger input {
    border: 1px solid red;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
  } */

  .nav__wrapper {
    /* border: 1px solid red; */
    border-radius: 100%;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    transform: scale(0);
    transition: all .4s;
  }

  .nav__wrapper--isDisplayed {
    background-color: #222;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transform: scale(1);
    transition: transform .2s;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    min-width: max-content;
    margin: 0 auto;
  }

  .nav__link {
    /* border: 1px solid red; */
    display: block;
    margin-block: .25em;
    padding: 1.25em;
    transition: color .2s;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #FFD36D;
  }

  .menu-hamburger-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
  }
  
  .menu-hamburger-btn button {
    cursor: pointer;
    padding: 1em;
  }
}