@import "./scss/partials/navbar";
@import "./scss/partials/hero";
@import "./scss/partials/main";
@import "./scss/partials/services";
@import "./scss/partials/footer";
@import "./scss/variables/variables";

:root{
  /* SCROLLBAR ON MOZILLA FIREFOX */
  scrollbar-color: $color-light-gold $color-black !important;
  scrollbar-width: thin !important; 
}

::selection,
::-moz-selection {
  background-color: $color-accent-gold;
  color: $color-black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-grey;
}

  /* SCROLLBAR ON MOST BROWSERS */
.scroll {
  width: 30%;
  height: 100px;
  border: 1px solid grey;
  overflow: scroll;
  display: inline-block;
}
.scroll-width-auto {
  scrollbar-width: auto;
}
.scroll-width-thin {
  scrollbar-width: thin;
}
.scroll-width-none {
  scrollbar-width: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-light-gold;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-accent-gold;
}

@media (min-width: 55em) {}

@media (max-width: 55em) {}
