$color-grey: #222222;
$color-dark-grey: #111111;
$color-light-gold: #FFD36D;
$color-accent-gold: #F4DE86;
$color-black: #000000;
$color-white: #FFFFFF;

// $font-primary: ;
// $font-secondary: ;
// $font-300: ;
// $font-500: ;
// $font-700: ;
// $font-900: ;
// $font-p: ;
// $font-h1: ;
// $font-h2: ;
// $font-h3: ;
// $font-footer: ;